.young-serif-regular {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #4CAF50;
    padding: 20px;
    text-align: center;
    h1 {
        color: yellow;
        font-family: "Young Serif", serif;
        text-align: center;
    }
      
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}
