@font-face {
    font-family: 'YourFontName'; /*a name to be used later*/
    src: url('http://domain.example/fonts/font.ttf'); /*URL to font*/
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #4CAF50;
    padding: 20px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}
